---
# Update cache (MàJ cache)
- name: "Update APT cache / MàJ cache"
  apt:
    update_cache: yes
    cache_valid_time: 3600

# Install tools (Install outils)
- name: "Install tools / Install outils"
  apt:
    name: [ufw, curl, htop, vim]
    state: present

# Secure SSH (Sécurité SSH)
- name: "Disable root SSH / Stop SSH root"
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^PermitRootLogin'
    line: 'PermitRootLogin no'
  notify: restart_ssh

# Basic Firewall (Pare-feu)
- name: "Allow SSH / Autoriser SSH"
  ufw:
    rule: allow
    port: '22'
    proto: tcp

- name: "Enable UFW / Activer UFW"
  ufw:
    state: enabled