---
# Install K3s (Install K3s)
- name: "Download & Run K3s / Télécharger & Lancer K3s"
  shell: curl -sfL https://get.k3s.io | sh -
  args:
    creates: /usr/local/bin/k3s

# Wait for node (Attente du nœud)
- name: "Wait for node Ready / Attente état Ready"
  command: k3s kubectl get nodes
  register: nodes_output
  until: '" Ready " in nodes_output.stdout'
  retries: 10
  delay: 5

# Get Config (Récupérer config)
- name: "Get Kubeconfig / Récupérer Kubeconfig"
  fetch:
    src: /etc/rancher/k3s/k3s.yaml
    dest: ./kubeconfig.yaml
    flat: yes